<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>360</integer>
	<key>angleVariance</key>
	<string>322.47</string>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<string>-1.000</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>0.000</string>
	<key>finishColorBlue</key>
	<string>0.000</string>
	<key>finishColorGreen</key>
	<string>0.000</string>
	<key>finishColorRed</key>
	<string>0.000</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.000</string>
	<key>finishColorVarianceBlue</key>
	<integer>0</integer>
	<key>finishColorVarianceGreen</key>
	<integer>0</integer>
	<key>finishColorVarianceRed</key>
	<string>0.774</string>
	<key>finishParticleSize</key>
	<string>23.67</string>
	<key>finishParticleSizeVariance</key>
	<string>91.08</string>
	<key>gravityx</key>
	<string>0.00</string>
	<key>gravityy</key>
	<string>0.00</string>
	<key>maxParticles</key>
	<string>244.49</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>1.34</string>
	<key>particleLifespanVariance</key>
	<string>0.17</string>
	<key>radialAccelVariance</key>
	<string>-2.14</string>
	<key>radialAcceleration</key>
	<string>6.59</string>
	<key>rotatePerSecond</key>
	<string>20</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>rotationEnd</key>
	<string>389.06</string>
	<key>rotationEndVariance</key>
	<string>55.97</string>
	<key>rotationStart</key>
	<string>64.52</string>
	<key>rotationStartVariance</key>
	<string>-105.88</string>
	<key>sourcePositionVariancex</key>
	<string>-4.867</string>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<string>171.988</string>
	<key>sourcePositiony</key>
	<string>367.870</string>
	<key>speed</key>
	<string>0.00</string>
	<key>speedVariance</key>
	<string>65.68</string>
	<key>startColorAlpha</key>
	<string>1.000</string>
	<key>startColorBlue</key>
	<string>1.000</string>
	<key>startColorGreen</key>
	<string>1.000</string>
	<key>startColorRed</key>
	<string>1.000</string>
	<key>startColorVarianceAlpha</key>
	<string>1.000</string>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<string>0.000</string>
	<key>startParticleSize</key>
	<string>26.39</string>
	<key>startParticleSizeVariance</key>
	<string>0.00</string>
	<key>tangentialAccelVariance</key>
	<string>-9.80</string>
	<key>tangentialAcceleration</key>
	<string>20.76</string>
	<key>textureFileName</key>
	<string>hud/fire2.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
